<p>Select up to 5 tracks from your playlist to define the vibe you're looking for:</p>
<button mat-flat-button color="primary" (click)="resetComponent()">Reset Page</button>
<button mat-flat-button color="primary" (click)="onClickAnalyze()"
                                        [disabled]="selection.selected.length<1">Analyze Playlist</button>
<div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" [bgColor]="'primary'">
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? toggleAllRows() : null"
                            [indeterminate]="selection.hasValue()"
                            [checked]="selection.selected.length!=0"
                            [disabled]="selection.selected.length==0"
                            [aria-label]="checkboxLabel()">
                </mat-checkbox>
                {{ selection.selected.length }}/5
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? onSelectTrack(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)"
                            [disabled]="selection.selected.length >= 5 && !selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="album-cover">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <img src="{{ element.album.images[2]['url'] }}" width="50px" height="50px">
            </td>
        </ng-container>
        <ng-container matColumnDef="track">
            <th mat-header-cell *matHeaderCellDef>Track</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
        <ng-container matColumnDef="artists">
            <th mat-header-cell *matHeaderCellDef>Artists</th>
            <td mat-cell *matCellDef="let element">{{ element.artists[0].name }}</td>
        </ng-container>
        <ng-container matColumnDef="distance">
            <th mat-header-cell *matHeaderCellDef>Un-vibe-ness</th>
            <td mat-cell *matCellDef="let element">{{ element.distance }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>